/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.side-left{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(100, 100, 100,0.5) 
}

.side-left .content{
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
}

.side-left .content md-card{
    height: 100%;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    color: white;
}